* {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  box-sizing: border-box;
}

.text {
  font-size: 12px;
  line-height: 12px;
  color: #999999;
}
a {
  text-decoration: none;
  color: #999999;
}
*:focus {
  outline: none;
}
.container {
  width: 100%;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
button:hover {
  background-color: #267984f0;
  cursor: pointer;
}
a:hover,
a:active {
  color: #3bafbe;
}
.fa {
  color: white;
}

/* ---------------------------------------Navbar ------------------------------------------------------------ */
nav {
  border-top: 5px solid #3bafbe;
}
.section-nav {
  border-bottom: 1px solid #e2e2e2;
}
.top {
  margin-top: 24px;
  width: 100%;
}
.logos,
.search-cta {
  width: 49%;
  display: inline-block;
}
.search-cta {
  text-align: right;
}
.logo {
  display: inline-block;
  padding: 8px;
  height: 32px;
  width: 32px;
  background-color: black;
  text-align: center;
  border-radius: 16px;
  margin-right: 10px;
}
.social-icons {
  color: rgb(255, 255, 255);
}
.logo:hover {
  background-color: #ee802f;
  color: rgb(255, 255, 255);
}
.brand-logo,
.nav-menu {
  display: inline-block;
}
.brand-logo {
  width: 39%;
}
.nav-menu {
  width: 60%;
  text-align: right;
}
.brand-logo-text {
  font-size: 28px;
  line-height: 32px;
  color: #4a4a4a;
}
.cta-btn {
  padding: 12px 10px;
  border-radius: 10px;
  background-color: #3bafbe;
  border: none;
  color: white;
  text-transform: uppercase;
  text-align: left;
  margin-left: 2px;
}
.cta-field {
  border-radius: 10px;
  width: 100%;
  max-width: 218px;
  color: white;
  background-color: #333333;
  padding: 12px 0 12px 10px;
  border: none;
}
.cta-field::placeholder {
  color: white;
}
.bottom {
  margin-top: 24px;
  margin-bottom: 20px;
}

.brand-logo-text {
  text-transform: uppercase;
}
ul {
  list-style: none;
}
#menu-first {
  color: #3bafbe;
}
.menu-items {
  margin-right: 18px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
.menu-items:last-child {
  margin-right: 0;
}

/*------------------------------- Hero---------------------------------------------------------  */

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;
}
.screen,
.hero-content {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

.hero-title {
  text-transform: uppercase;
  color: #4a4a4a;
}
.hero-p {
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  margin-top: 23px;
}
.hero-btn {
  border-radius: 10px;
  background-color: #3bafbe;
  border: none;
  color: white;
  padding: 12px 10px;
  text-transform: uppercase;
}
.button-hero {
  margin-top: 32px;
  font-size: 16px;
}
.dots {
  margin-top: 50px;
  text-align: right;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background-color: #3bafbe;
  border: none;
  display: inline-block;
  vertical-align: bottom;
}
.dot:last-child {
  background-color: white;
  border: 4px solid #3bafbe;
}

/*------------------------------- Section 2:  frames---------------------------------------------------------  */
.frames {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #e2e2e2;
}
.cards {
  display: inline-block;
  width: 31.5%;
  margin-right: 20px;
  text-align: center;
}
.cards:last-child {
  margin-right: 0;
}
.image-frame {
  height: 160px;
  overflow: hidden;
  margin-bottom: 30px;
}
img.image-box {
  width: 100%;
  height: 100%;
}
.card-content {
  text-align: left;
}
.card-title {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 22px;
}
.card-desc {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  margin-bottom: 18px;
}
.card-btn {
  font-size: 13px;
}
/*------------------------------- Testimonials---------------------------------------------------------  */
.testimonials {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #e2e2e2;
}
.quote-block {
  font-size: 22px;
  color: #666666;
  text-align: center;
  font-style: italic;
  width: 100%;
  max-width: 708px;
  margin: 0 auto;
}
.quote {
  line-height: 30px;
}
.customer-row {
  display: inline-block;
}
.customer-card {
  display: inline-block;
  width: 30.8%;
  margin-right: 32px;
}
.customer-card:last-child {
  margin-right: 0;
}
.first-row {
  padding-top: 46px;
  padding-bottom: 40px;
}
.customer-images {
  width: 88px;
  height: 88px;
  padding: 3px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
}
.customer-photo {
  width: 80px;
  height: 80px;
}
.customer,
.customer-images {
  display: inline-block;
}
.customer {
  width: 68%;
  padding-left: 14px;
  vertical-align: top;
  padding-top: 4px;
}
.c_name {
  font-size: 13px;
  color: #3bafbe;
  margin-bottom: 10px;
}
.c_review {
  font-size: 12px;
  line-height: 19px;
  color: #848c92;
}
/*------------------------------- Footer---------------------------------------------------------  */
.footer-top {
  background-color: #252525;
}
.footer-bottom {
  background-color: #000000;
}
.footer-menu {
  padding: 38px 0 38px 0;
}
.footer-menu-item {
  display: inline-block;

  vertical-align: top;
  text-align: left;
}
.menu-heading {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 26px;
}
.details {
  line-height: 18px;
}
#email {
  color: #3bafbe;
}
.contact-details {
  width: 24%;
}
.quick-lins {
  width: 22%;
  padding-right: 18px;
}
.Q-links {
  font-size: 12px;
  color: #3bafbe;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #2c2c2c;
}
.blogpost {
  width: 28%;
  position: relative;
}
#blogtitle {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 7px;
}
#author {
  font-size: 11px;
  margin-bottom: 10px;
}
.blogtext {
  font-size: 11px;
}
#read-more-text {
  color: #3bafbe;
  padding-right: 12px;
  text-align: right;
  text-decoration: none;
}
.read-more {
  text-align: right;
  margin-top: 10px;
}
.newsletter {
  width: 24%;
}
.input-field {
  display: block;
  border-radius: 7px;
  background-color: #2c2c2c;
  border: none;
  width: 100%;
  padding: 11px 10px 10px 11px;
  margin-bottom: 10px;
  color: white;
}
.form-btn {
  border-radius: 7px;
  background-color: #3bafbe;
  padding: 12px 12px 10px 12px;
  border: none;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}
.copyright {
  padding: 24px;
}
.ctext {
  display: inline-block;
  font-size: 12px;
  color: #999999;
  width: 49%;
}
.template {
  text-align: right;
}
